@import "../../../styles.scss";
@include closeBtn;
div.container {
  width: 85%;
  height: 580px;
  background-color: $firstColor;
  border-radius: 8px;
  border: 2px solid $secondColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div.right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 20%;
    padding: 0 4px;
    background-color: $thirdColor;
    h3 {
      color: #f5f5f5;
      position: absolute;
      top: 56px;
      right: 150px;
      text-align: center;
    }
    mat-form-field {
      width: 100%;
    }
  }
  div.left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 78%;
  }
}
